<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>graffITIS</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon da definire durante periodo PCTO -->
  <link rel="shortcut icon" href="./../../favicon.ico" type="image/x-icon">
  <link rel="icon" href="./../../favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="../../assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../../assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../assets/vendor/fancybox/jquery.fancybox.css">
  <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../../assets/vendor/summernote/dist/summernote-lite.css">
  <link rel="stylesheet" href="../../assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css">
  <link rel="stylesheet" href="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../assets/vendor/custombox/dist/custombox.min.css">
  <!-- <link rel="stylesheet" href="../../assets/vendor/animate.css"> -->

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="../../assets/css/theme.css">
</head>

<body>

  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header">
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand my-2" href="/" aria-label="graffITIS">
            <img class="u-header__navbar-brand-default"
              src="https://lh3.google.com/u/1/d/1JOqZ6okPjdp2vaYg8MU5ziSaGJoB_Fkp=w1920-h980-iv1" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation"
            aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->



          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="navbar-nav u-header__navbar-nav">
              <!-- Demos -->
              <li class="nav-item u-header__nav-item mr-2">
                <a class="nav-link u-header__nav-link" href="/">Prima Pagina</a>
              </li>
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-max-width="900px" data-position="right">
                <a id="demosMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;"
                  aria-haspopup="true" aria-expanded="false">Rubriche</a>

                <!-- Demos - Mega Menu -->
                <div class="hs-mega-menu w-100 u-header__sub-menu" aria-labelledby="demosMegaMenu">
                  <div class="row no-gutters">
                    <div class="col-lg-8">
                      <div class="u-header__promo-card-deck">

                        <!-- Promo Item -->
                        <!-- TO RENDER -->
                        <div class="u-header__promo-card u-header__promo-item">
                          <a class="u-header__promo-link"
                            href="/posts/categories/60-anni-itis                                                   ">
                            <div class="media align-items-center">
                              <img class="js-svg-injector u-header__promo-icon" src="../../assets/svg/icons/icon-21.svg"
                                alt="SVG">
                              <div class="media-body">
                                <span class="u-header__promo-title">60 Anni ITIS <span
                                    class="badge badge-success badge-pill ml-1">Nuova</span></span>
                                <small class="u-header__promo-text">Il nostro istituto si racconta...</small>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- END TO RENDER  -->
                        <!-- End Promo Item -->

                        <!-- Promo Item -->
                        <div class="u-header__promo-card u-header__promo-item">
                          <a class="u-header__promo-link" href="/posts/categories/attualità">
                            <div class="media align-items-center">
                              <img class="js-svg-injector u-header__promo-icon" src="../../assets/svg/icons/icon-13.svg"
                                alt="SVG">
                              <div class="media-body">
                                <span class="u-header__promo-title">Attualità</span>
                                <small class="u-header__promo-text">Pensieri Politico-Economici</small>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- End Promo Item -->
                      </div>

                      <div class="u-header__promo-card-deck">
                        <!-- Promo Item -->
                        <div class="u-header__promo-card u-header__promo-item">
                          <a class="u-header__promo-link" href="/posts/categories/memes">
                            <div class="media align-items-center">
                              <img class="js-svg-injector u-header__promo-icon" src="../../assets/svg/icons/icon-9.svg"
                                alt="SVG">
                              <div class="media-body">
                                <span class="u-header__promo-title">Memes</span>
                                <small class="u-header__promo-text">Un po' di ignoranza...</small>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- End Promo Item -->

                        <!-- Promo Item -->
                        <div class="u-header__promo-card u-header__promo-item">
                          <a class="u-header__promo-link" href="/posts/categories/moda">
                            <div class="media align-items-center">
                              <img class="js-svg-injector u-header__promo-icon" src="../../assets/svg/icons/icon-4.svg"
                                alt="SVG">
                              <div class="media-body">
                                <span class="u-header__promo-title">Moda</span>
                                <small class="u-header__promo-text">Descrizione</small>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- End Promo Item -->
                      </div>

                      <div class="u-header__promo-card-deck">
                        <!-- Promo Item -->
                        <div class="u-header__promo-card u-header__promo-item">
                          <a class="u-header__promo-link" href="/posts/categories/musica">
                            <div class="media align-items-center">
                              <img class="js-svg-injector u-header__promo-icon" src="../../assets/svg/icons/icon-62.svg"
                                alt="SVG">
                              <div class="media-body">
                                <span class="u-header__promo-title">Musica</span>
                                <small class="u-header__promo-text">Descrizione</small>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- End Promo Item -->

                        <!-- Promo Item -->
                        <div class="u-header__promo-card u-header__promo-item ">
                          <a class="" href="/posts/categories">
                            <div class="u-header__promo-link">
                              <div class="media align-items-center">

                                <div class="media-body">
                                  <span class="u-header__promo-title">Vedi tutte <i
                                      class="ml-1 fas fa-arrow-right"></i></span>
                                  <small class="u-header__promo-text">Sfoglia tutte le catregorie</small>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!-- End Promo Item -->
                      </div>
                    </div>


                    <div class="col-lg-4 u-header__promo d-none d-lg-block">
                      <a class="d-block u-header__promo-inner" href="#">

                        <div class="position-relative">
                          <span class="text-secondary font-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Vestibulum maximus nisl nec sapien consequat scelerisque. Testo a caso per riempire
                            questo div che non mi piace vuoto. Teoricamente ci metteremo una breve descrizione del
                            sistema delle rubriche...</span>
                        </div>
                      </a>
                    </div>

                  </div>
                </div>
                <!-- End Demos - Mega Menu -->
              </li>
              <!-- End Demos -->
              <li class="nav-item u-header__nav-item mr-2">
                <a class="nav-link u-header__nav-link" href="/redazione">Redazione</a>
              </li>
              <!-- Docs -->
              <% if(user) { %>
              <li class="list-inline-item">
                <!-- Account Sidebar Toggle Button -->
                <div class="dropdown show">
                  <a class="btn btn-sm btn-primary dropdown-toggle transition-3d-hover" href="#" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.name %>
                  </a>

                  <div class=" dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <% if (user.role === 3) { %>
                    <a class="dropdown-item" href="/king"><i class="fas fa-columns"
                        style="margin-right:0.2em;"></i>Dashboard</a>
                    <% } else if (user.role === 2) { %>
                    <a class="dropdown-item" href="/super"><i class="fas fa-columns"
                        style="margin-right:0.2em;"></i>Dashboard</a>
                    <% } else if (user.role === 1) { %>
                    <a class="dropdown-item" href="/admin/dashboard"><i class="fas fa-columns"
                        style="margin-right:0.2em;"></i>Dashboard</a>
                    <% } else { %>
                    <a class="dropdown-item" href="/dashboard"><i class="fas fa-columns"
                        style="margin-right:0.2em;"></i>Dashboard</a>
                    <% } %>

                    <!-- <a class="dropdown-item" href="/admin/todos">To Do</a> -->
                    <a class="dropdown-item" href="/profile"><i class="fas fa-user"
                        style="margin-right:0.2em;"></i>Profilo</a>

                    <hr class="mx-3 my-2">

                    <a class="dropdown-item" href="/admin/auth/logout"><i class="fas fa-sign-out-alt"
                        style="margin-right:0.2em;"></i>Logout</a>
                  </div>
                </div>
                <!-- <a id="sidebarNavToggler" class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg ml-1"
                  href="/admin/dashboard" role="button" aria-controls="sidebarContent" aria-haspopup="true"
                  aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                  data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
                  data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                  data-unfold-duration="500">
                  <span class="position-relative">
                    <span class="u-sidebar--account__toggle-text"> <%= user.name %> </span>
                    <img class="u-sidebar--account__toggle-img" src="<%= user.pic %>" alt="Image Description">
                    <span class="badge badge-sm badge-success badge-pos rounded-circle"><i
                        class="fas fa-check"></i></span>
                  </span>
                </a> -->
                <!-- End Account Sidebar Toggle Button -->
              </li>
              <% } else { %>
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-max-width="260px" data-position="right">
                <a id="docsMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;"
                  aria-haspopup="true" aria-expanded="false"><i class="fas fa-sign-in-alt"></i> Accedi</a>

                <!-- Docs - Submenu -->
                <div class="hs-mega-menu u-header__sub-menu" aria-labelledby="docsMegaMenu" style="min-width: 330px;">
                  <!-- Promo Item -->
                  <div class="u-header__promo-item">
                    <a class="u-header__promo-link" href="/users/auth/login">
                      <div class="media align-items-center">
                        <img class="u-header__promo-icon" src="../../assets/svg/icons/icon-18.svg" alt="SVG">
                        <div class="media-body">
                          <span class="u-header__promo-title">
                            Lettore
                            <span class="badge badge-primary badge-pill ml-1">beta</span>
                          </span>
                          <small class="u-header__promo-text">Salva articoli, commenta e altro...</small>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- End Promo Item -->

                  <!-- Promo Item -->
                  <div class="u-header__promo-item">
                    <a class="u-header__promo-link" href="/admin/auth/login">
                      <div class="media align-items-center">
                        <img class="u-header__promo-icon" src="../../assets/svg/icons/icon-44.svg" alt="SVG">
                        <div class="media-body">
                          <span class="u-header__promo-title">Resp. Tecnico</span>
                          <small class="u-header__promo-text">Manutenzione piattaforma</small>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- End Promo Item -->

                  <div class="u-header__promo-footer">
                    <!-- List -->
                    <div class="row no-gutters">
                      <div class="col-6">
                        <div class="u-header__promo-footer-item">
                          <small class="text-muted d-block">Nuove Funzioni</small>
                          <a class="small" href="/changelog">
                            Changelog
                          </a>
                        </div>
                      </div>
                      <div class="col-6 u-header__promo-footer-ver-divider">
                        <div class="u-header__promo-footer-item">
                          <small class="text-muted d-block">Domande?</small>
                          <a class="small" href="/contatti">
                            Contattaci
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- End List -->
                  </div>
                </div>
                <!-- End Docs - Submenu -->
              </li>
              <!-- End Docs -->

              <!-- Button -->
              <li class="nav-item u-header__nav-last-item">
                <a class="btn btn-sm btn-primary transition-3d-hover" href="/choice">
                  <i class="fas fa-user-plus"></i>
                  Registrati
                </a>
              </li>
              <% } %>
              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->