<!-- #TODO: Rimuovere questa pagina in produzione, possibile solo registrazione per users -->
<%- include ('partials/header') %>

<!-- Pricing Section -->
<div class="container" style="margin-top: 6.5em;">
  <div class="w-lg-65 mx-lg-auto">
    <div class="card-deck d-block d-md-flex card-md-gutters-3 mb-5">
      <!-- Pricing -->
      <div class="card text-center mb-5 mb-md-0">
        <!-- Header -->
        <header class="card-header p-5">
          <h4 class="h5 text-primary">Lettore</h4>
          <figure class="ie-height-56 max-width-8 mx-auto">
            <img class="js-svg-injector" src="../../assets/svg/icons/icon-18.svg" alt="SVG" data-parent="#icon18" />
          </figure>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5">
          <!-- SVG Icon -->

          <!-- End SVG Icon -->

          <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">
            <a style="color: white; !important" href="/users/auth/register">Registrati come Lettore</a>
          </button>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->

      <!-- Pricing -->
      <div class="card card-frame-highlighted text-center">
        <!-- Header -->
        <header class="card-header p-5">
          <h4 class="h5 text-primary">Admin</h4>
          <figure class="ie-height-56 max-width-8 mx-auto">
            <img class="js-svg-injector" src="../../assets/svg/icons/icon-44.svg" alt="SVG" data-parent="#icon44" />
          </figure>
        </header>
        <!-- End Header -->

        <!-- Content -->
        <div class="card-body p-5">
          <!-- SVG Icon -->

          <!-- End SVG Icon -->

          <button type="button" class="btn btn-sm btn-block btn-primary transition-3d-hover">
            <a style="color: white; !important" href="/admin/auth/register">Registrati come Admin</a>
          </button>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Pricing -->
    </div>
  </div>
</div>
<!-- End Pricing Section -->

<%- include ('partials/footer') %>