<%- include ('partials/header') %>

<main>
    <div class="container space-2">
        <form class="js-validate w-md-75 w-lg-50 mx-md-auto">
            <%- messages('message', locals) %>
            <!-- Title -->
            <div class="mb-7">
                <h1 class="h3 text-primary font-weight-normal mb-0"><span class="font-weight-semi-bold">Lettore</span></h1>
                <p>Login</p>
            </div>
            <!-- End Title -->
            <div style="margin-bottom:2em; margin-right:3em;"><a class="btn btn-sm btn-soft-google transition-3d-hover" href="/users/auth/google">
                <i class="fab fa-google" style="margin-right:0.2em;"></i>
                Accedi con Google
            </a></div>
        </form>
    </div>
</main>

<%- include ('partials/footer') %>