<%- include ('partials/header') %>


<main id="content" role="main">
  <!-- Login Form -->
  <div class="container space-2">
    <div class="w-md-75 w-lg-50 mx-md-auto">
      <%- messages('message', locals) %>
    </div>
    <form class=" w-md-75 w-lg-50 mx-md-auto" method="POST" action="/users/register">
      <!-- Title -->
      <div class="mb-7">
        <h1 class="h3 text-primary font-weight-normal mb-0">
          Registrati a <span class="font-weight-semi-bold">Graffitis</span>
        </h1>
        <p>Premi il tasto Google per procedere </p>
      </div>

      <!-- End Title -->

      <div style="margin-bottom:2em; margin-right:3em;""><a class=" btn btn-sm btn-soft-google transition-3d-hover"
        href="/admin/auth/google">
        <i class="fab fa-google" style="margin-right:0.2em;"></i>
        Registrati con Google
        </a>
      </div>

      <div class="card mt-4 shadow">
        <div class="card-header">
          <h4><i class="fas fa-shield-alt"></i> Informazioni sull'Autenticazione</h4>
        </div>
        <div class="card-body">
          <p class="mb-0">
            Utilizziamo OAuth 2.0 di Google per garantire operazioni di autenticazione sicure e veloci per tutti gli
            utenti. <br>Utilizza il tuo account Google <strong>...@itiscuneo.eu</strong> per procedere.
          </p>
          <hr>
          <p>
            <a href="/contatti"><i class="fas fa-external-link-alt"></i>Contattaci</a> se vuoi saperne di piu!
          </p>

        </div>
      </div>



      <!-- Form Group -->

      <!-- End Button -->
    </form>
  </div>
  <!-- End Login Form -->
</main>

<%- include ('partials/footer') %>